
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  body {
    background-color: $white;
  }
.homeContainer {

  .homeImage{
    border: 1px solid green;
    margin-top: 5%;
    width: 100%;
    height: 30%;
  }

.heroSubtext{
  li{
  width: 100%;
  font-size: 18px;
}
}
.mainButtons{
  p{
    display: block;
  }
}

}


.headerInfo{
  width: 100%;
  left: 15%;


p .headerName {

      text-align: center;
      color: $white;
      font-size: 15px;
    }

    .devTitle{
      color: $white;
      font-size: 10px;
      }

}

.navBar{
  display: none;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    height: 8%;
    background-color: $plumoffset;
    .socialmedia {
        i {
            margin-top: 1%;
            color: $white;
            font-size: 35px;
            padding-bottom: 4px;
        }

        li {
            display: inline;
            color: $white;
            padding: 3%;
        }
    }
    .phone-email {
        i {
            font-size: 35px;
            color: $white;
        }
  padding: 3%;
        margin-left: 40%;
    }
}
}
