@import 'https://fonts.googleapis.com/css?family=Cedarville+Cursive|Marmelad';
@import 'https://fonts.googleapis.com/css?family=Biryani|Poppins';
$plum: #693F9B;
$graymatter: #6d6971;
$tumbleweed: #E3B23C;
$plumoffset: #613B70;
$darkpurple: #37123C;
$black: black;
$white: #FAF0E6;
$headerfont: 'Poppins', sans-serif;
$titlefont: 'Biryani', sans-serif;

@import "partials/grid";
@import "partials/media_queries/smartphone";
@import "partials/media_queries/desktop";
