@import 'https://fonts.googleapis.com/css?family=Cedarville+Cursive|Marmelad';
@import 'https://fonts.googleapis.com/css?family=Biryani|Poppins';
$plum: #693F9B;
$graymatter: #6d6971;
$tumbleweed: #E3B23C;
$plumoffset: #613B70;
$darkpurple: #37123C;
$black: black;
$white: #FAF0E6;
$headerfont: 'Poppins', sans-serif;
$titlefont: 'Biryani', sans-serif;

body {
    background-color: $white;
}


.header {
  position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 0;
    height: 8%;
    background-color: $plumoffset;
    position: absolute;
    display: inline-flex;


}

.mainContainerLeft {
    a {
        text-decoration: none;
    }
    width: 47%;
    height: 100%;
    background-color: $plumoffset;
    display: inline-block;
    .s-icon {
        color: $white;
        height: 40px;
        position: fixed;
        margin-left: 5%;
        padding-top: 0.5%;
        font-weight: lighter;
    }
    .headerInfo {
          font-family: $headerfont;
        padding-top: 1%;
        color: $white;
        margin-left: 20%;
        margin-top: 0;
        position: relative;
        .headerName {
            color: $tumbleweed;
            font-family: $titlefont;
            font-size: 20px;
        }
        p {
            font-weight: lighter;
        }
    }
}
.mainContainerRight {
    width: 50%;
    margin-left: 2%;
    height: 100%;
    background-color: $plumoffset;
    display: inline-block;
    .navBar {
        margin-left: 40%;
        padding-top: 3%;
        a {
            text-decoration: none;
            color: $white;
        }

        }

        li {
            font-family: $headerfont;
            display: inline;
            margin: 2%;
            :hover {
                border-bottom: 3px solid $tumbleweed;
        }
        .hire{
          background-color: $tumbleweed;

          padding: 10px;
          }


    }
}
.injectable-view {
    text-align: center;
    height: 100%;
    margin: 5%;
}

.generalHead {
position: absolute;
left: 0;
top: 8%;
  width: 100%;
  height: 15%;
  background-color: $plumoffset;

    h1 {
      margin-top: 2%;
      color: $white;
      font-size: 40px;
      font-family: $headerfont;
    }
    h3 {
      color: $white;
      padding-top: 1%;
      padding-bottom: 1%;
      font-size: 15px;
      font-weight: lighter;
      font-family: $headerfont;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    height: 8%;
    background-color: $plumoffset;
    .socialmedia {
        i {
            margin-top: 1%;
            color: $white;
            font-size: 25px;
            padding-bottom: 4px;
        }

        li {
            display: inline;
            color: $white;
            padding: 1%;
        }
    }
    .phone-email {
        i {
            font-size: 25px;
            margin-left: 2%;
            color: $white;
        }
        padding-right: 1%;
        margin-left: 80%;
    }
}

.angle{
  display: block;
}

@import "partials/aboutme";
@import "partials/resume";
@import "partials/home";
@import "partials/grid";
@import "partials/portfolio";
