<div class="generalHead">
  <h1 class="headerText"> Front-end Developer</h1>
  <h3 class="headersubText"> Stuff about what I do and stuff </h3>
 </div>

 <img class="heroImage" src="assets/images/desk1.jpg">

 <p>
   Hello! I’m Sinovia and I am a versatile and flexible front-end developer and operations professional who specializes in managing projects and organizing people to solve problems.
   I am transitioning to a career in development after spending several years as a theatrical production manager, volunteer coordinator,  and most recently as the operations manager of a code school.
   I specialize in the process of making big ideas real through clear communication, thoughtful coordination, and deliberate action.</p>
