<div class="ContactContainer">
<div class="generalHead">
  <h1 class="headerText"> Contact Sinovia</h1>
  <h3 class="headersubText"> Let's build something great.  I'd love to hear from you. </h3>
 </div>

 <div class="grid grid-pad">
     <div class="col-1-4">
        <a href="mailto:somayfield@gmail.com">
        <div class="content">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h3>somayfield@gmail.com</h3>

        </div>
      </a>
     </div>
     <div class="col-1-4">
         <a href="tel:+1-501-570-6295">
        <div class="content">
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
          <h3>501-570-6295</h3>
        </div>
     </div>
   </a>
     <div class="col-1-4">
       <a href="https://www.linkedin.com/in/somayfield">
        <div class="content">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <h3>linkedin.com/in/somayfield</h3>
        </div>
     </div>
   </a>
     <div class="col-1-4">
       <a href="https://github.com/sinovia">
        <div class="content">
          <i class="fa fa-github-alt" aria-hidden="true"></i>
          <h3>github.com/sinovia</h3>

        </div>
     </div>
   </a>
 </div>
</div>
