<div class="ContactContainer">
<div class="generalHead">
  <h1 class="headerText"> Contact Sinovia</h1>
  <h3 class="headersubText"> </h3>
 </div>

 <div class="grid grid-pad">
     <div class="col-1-4">
        <div class="content">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h3>somayfield@gmail.com</h3>
        </div>
     </div>
     <div class="col-1-4">
        <div class="content">
          <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
          <h3>501-570-6295</h3>
        </div>
     </div>
     <div class="col-1-4">
        <div class="content">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <h3>linkedin.com/in/somayfield</h3>
        </div>
     </div>
     <div class="col-1-4">
        <div class="content">
          <i class="fa fa-github-alt" aria-hidden="true"></i>
          <h3>github.com/sinovia</h3>

        </div>
     </div>
 </div>
</div>
