<div class="PortfolioContainer">
<div class="generalHead">
  <h1 class="headerText"> View My Work</h1>
  <p class="headersubText">
    <span> HTML </span> <i class="fa fa-code" aria-hidden="true"></i>
    <span> CSS </span> <i class="fa fa-code" aria-hidden="true"></i>
    <span> Javascript </span> <i class="fa fa-code" aria-hidden="true"></i>
    <span> AngularJS</span> <i class="fa fa-code" aria-hidden="true"></i>
    <span> Responsive Design</span>
  </h3>
 </div>
Test
 <div class="grid grid-pad">
    <div class="col-1-3">
       <div class="content">
           <h3>Gentoo</h3>
           <img src="assets/images/Gentoo Screen Shot.png">
           <div class="source-demo">
          <p> <a href="https://github.com/tiyd-fee-2016-05/gentoo"> Github </a></p>
          <p> <a href="https://gentoo-2e54b.firebaseapp.com/#/login"> Live Demo</a></p>
        </div>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>Call Board</h3>

           <img src="assets/images/Gentoo Screen Shot.png">
            <div class="source-demo">
              <p> <a href="https://github.com/sinovia/sm-report-app"> Github </a></p>

         </div>
       </div>
    </div>
    <div class="col-1-3">
       <div class="content">
           <h3>Balto</h3>
           <img src="assets/images/Gentoo Screen Shot.png">
           <div class="source-demo">
          <p> <a href="https://github.com/tiyd-fee-2016-05/the-iron-pet"> Github </a></p>
      
        </div>
       </div>
    </div>
</div>
</div>
