.resume {
  margin-top: 5%;
}
.grid{
  margin-top: 25%;
}

.ContactContainer{

  .content{
    i{
      color: $tumbleweed;
      font-size: 40px;
      padding-bottom: 2%;
    }
    h3{
      color: $darkpurple;
      font-family: $headerfont;
      padding-bottom: 2%;
    }

  }
}
